Repository open-v2x/dandelion, pull requests merged in 2022-10, with the labels that each got.

#124 fix: add error trap return
  dandelion/api/api_v1/endpoints/cameras.py
  dandelion/api/api_v1/endpoints/lidars.py
  dandelion/api/api_v1/endpoints/radars.py
  dandelion/api/api_v1/endpoints/spats.py
Labels: bug

#123 test: add test cases
  apitest/camera.yaml
  apitest/radar.yaml
  apitest/rsu_config.yaml
  apitest/rsu_log.yaml
Labels: test

#126 test: supplement lidar and spat api test cases
  apitest/lidar.yaml
  apitest/spat.yaml
Labels: test

#130 feat: add spat online rate to response
  dandelion/api/api_v1/endpoints/cloud_homes.py
  dandelion/schemas/cloud_home.py
  swagger.json
Labels: enhancement
